<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="images-folde" value="D:\Curso C# Nivel 2\TPFinalNivel2_Sanmartino\TPFinalNivel2_Sanmartino\Imagenes"/>
	</appSettings>
</configuration>